* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, #9932CC, #ebf8e1, #f69d3c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container {
  max-width: 60%;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 50px;
}


.text-logo {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 30px;
  padding: 15px;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 10px 10px 0 0;
}

header form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

.name {
  display: flex;
  flex-direction: column;
}

header form .name input {
  background-color: rgb(210, 203, 203);
  overflow: hidden;
  padding: 13px;
  border: none;
  border-radius: 5px;
}

header form label p {
  margin-top: 10px;
  color: gray;
}

.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 80px;
  margin-top: 30px;
}

.label {
  display: flex;
  justify-content: space-between;
}

.company-inp {
  overflow: hidden;
  border: none;
  background-color: rgb(210, 203, 203);
  width: 550px;
  padding: 15px;
  border-radius: 7px;
}

.email {
  padding: 13px;
  width: 550px;
  background-color: rgb(210, 203, 203);
  border: none;
  border-radius: 7px;
}

.number-code {
  overflow: hidden;
  border: none;
  background-color: rgb(210, 203, 203);
  width: 150px;
  padding: 10px;
  border-radius: 7px;
}

.number {
  width: 240px;
  border: none;
  background-color: rgb(210, 203, 203);
  padding: 10px;
  border-radius: 7px;
}

.code,
.number {
  display: flex;
  flex-direction: column;
}

.select {
  background-color: rgb(210, 203, 203);
  padding: 10px;
  border: none;
  width: 550px;
}

.choose {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 80px;
  margin: 20px 0 0;
}

.choose p {
  margin-bottom: 10px;
}

.choose-inp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}


.button {
  display: flex;
  justify-content: start;
  padding: 70px;
}

.button-inp {
  padding: 10px 40px;
  border: none;
  background-color: orangered;
  color: white;
  border-radius:3px;
  cursor: pointer;
}
